<section class="mt-8 flex flex-col text-violet-950">

	<h2 class="mt-4 text-xl md:text-3xl font-bold font-headers">Sobre mí</h2>

	<article class="flex flex-col-reverse md:flex-row py-4 px-6 md:px-10 mt-4 backdrop-blur-sm rounded-lg">
		
		<div class="md:w-3/5 md:pr-4 text-xs md:text-sm">
			
			<p class="max-w-[40ch] text-pretty pt-2">Estudié Ingeniería Civil en una de las <span class="font-semibold">mejores universidades públicas de México</span>.</p>
			<p class="max-w-[40ch] text-pretty pt-2">Desde <span class="font-semibold">primer semestre</span> tomé <span class="font-semibold">cursos programación</span> y me dediqué a desarrollar software para resolver problemáticas de la ingeniería (o, al menos, lo intentaba).</p>
			<p class="max-w-[40ch] text-pretty pt-2">Claro que eso extendió mi estadía en la universidad, pero <span class="font-semibold">valió la pena</span>.</p>
			<p class="max-w-[40ch] text-pretty pt-2">Y, aunque muchas veces pensé que me había equivocado de carrera, lo cierto es que de no haberla cursado: no habría conocido a mi esposa, ni habría aprendido a programar y tú no estarías leyendo esto.</p>
			<p class="max-w-[40ch] text-pretty pt-2 font-semibold text-right">Estamos aquí por algo. Mantengamos la sinergia.</p>

		</div>

		<img class="w-full h-40 md:w-2/5 md:h-auto object-cover overflow-hidden rounded-ss-lg rounded-se-lg md:rounded-ss-none md:rounded-ee-lg" src="./DSC_1004.jpg" alt="Novios posando el día de su boda frente a una puerta de madera en una pared de bugambilia.">

	</article>

</section>