<section 
class="flex flex-col text-violet-950"
>

	<h2 class="mt-4 text-xl md:text-3xl font-bold">Experiencia laboral</h2>

	<article class="flex flex-wrap py-4 px-6 md:px-10 mt-4 backdrop-blur-sm rounded-lg timeline">

		<div class="flex flex-col md:flex-row md:justify-between w-full">

			<span class="w-full">
				<a class="flex justify-center md:justify-start items-center gap-2" href="https://sohersabim.com">
					<img class="h-4 md:h-5 w-auto" src="./icons/link.svg" alt="Link icon" srcset="" />
					<h3 class="pt-1 text-lg md:text-xl font-bold underline underline-offset-2 decoration-dotted decoration-1">Grupo sohersa</h3>
				</a>
				<h4 class="pt-1 text-center md:text-left text-sm md:text-base font-semibold opacity-80">Lider de innovación</h4>
			</span>

			<span class="w-full md:self-start text-xs md:text-sm text-center md:text-right">
				<p class="pt-1">Enero 2023 - Presente</p>
				<p class="pt-1">Guadalajara</p>
			</span>

		</div>

		<div class="flex flex-col md:flex-row-reverse justify-between w-full">

			<ul class="md:w-[calc(70%-8px)] md:pl-4 pt-2 text-xs md:text-sm text-pretty list-disc list-inside">
				<li>
						Gestión, diseño y desarrollo de <span class="font-semibold">aplicaciones web</span>, enfocadas a la gerencia de proyectos BIM, que <span class="font-semibold">reducen</span> hasta un <span class="font-semibold">50% el tiempo</span> de cuantificación.
				</li>
				<li>
						Dessarrollo de <span class="font-semibold">scripts para Revit</span> que <span class="font-semibold">reducen</span> hasta un <span class="font-semibold">90% el tiempo</span> en procesos de modelado.
				</li>
				<li>
						Instalación y manejo de <span class="font-semibold">Revit Servers</span> internos para <span class="font-semibold">reducción de costos operativos</span>
				</li>
				<li>
					Captación y capacitación de <span class="font-semibold">talento</span>.
				</li>
			</ul>

			<span class="flex flex-wrap pt-2 md:w-[30%] text-[10px] text-center">
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/angular-icon-1.svg" alt="Logo de Angular">
					<caption>Angular</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/typescript.svg" alt="Logo de Typescript">
					<caption>Typescript</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/laravel-2.svg" alt="Logo de Laravel">
					<caption>Laravel</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/livewire.svg" alt="Logo de Livewire">
					<caption>Livewire</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/next-js.svg" alt="Logo de Next.Js">
					<caption>NextJs</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/react-2.svg" alt="Logo de React">
					<caption>React</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/tailwind-css-2.svg" alt="Logo de Tailwind">
					<caption>Tailwind</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/aws-ec2.svg" alt="Logo de EC2, por AWS">
					<caption>EC2</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/autodesk-forge.svg" alt="Logo de Autodesk Platform Services">
					<caption>Autodesk Forge</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/revit-api.svg" alt="Logo de Revit API">
					<caption>Revit API</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/c--4.svg" alt="Logo de Csharp">
					<caption>C#</caption>
				</figure>
			</span>
			
		</div>

	</article>

	<article class="flex flex-wrap py-4 px-6 md:px-10 mt-4 backdrop-blur-sm rounded-lg timeline">

		<div class="flex flex-col md:flex-row md:justify-between w-full">

			<span class="w-full">
				<a class="flex justify-center md:justify-start items-center gap-2" href="https://sohersabim.com">
					<img class="h-4 md:h-5 w-auto" src="./icons/link.svg" alt="Link icon" srcset="" />
					<h3 class="pt-1 text-lg md:text-xl font-bold underline underline-offset-2 decoration-dotted decoration-1">Grupo sohersa</h3>
				</a>
				<h4 class="pt-1 text-center md:text-left text-sm md:text-base font-semibold opacity-80">Desarrollador de Software BIM</h4>
			</span>

			<span class="w-full md:self-start text-xs md:text-sm text-center md:text-right">
				<p class="pt-1">Enero 2022 - Diciembre 2023</p>
				<p class="pt-1">Guadalajara</p>
			</span>

		</div>

		<div class="flex flex-col md:flex-row-reverse justify-between w-full">

			<ul class="md:w-[calc(70%-8px)] md:pl-4 pt-2 text-xs md:text-sm text-pretty list-disc list-inside">
				<li>
						Automatización de flujos de trabajo con <span class="font-semibold">Google Workspace</span> que han servido como base en <span class="font-semibold">+5 proyectos</span>.
				</li>
				<li>
						<span class="font-semibold">Implementación interna y externa de Odoo</span>, tanto OnPremise como en SH, para <span class="font-semibold">controlar costos</span> de proyectos.
				</li>
				<li>
						Desarrollo de <span class="font-semibold">módulos para Odoo</span> para adaptarlo a la industria de la <span class="font-semibold">construcción en México</span>.
				</li>
				<li>
						Desarrollo de <span class="font-semibold">aplicaciones web</span> y despliegue en proveedores gratuitos para <span class="font-semibold">reducción de costos operativos</span>.
				</li>
			</ul>

			<span class="flex flex-wrap pt-2 md:w-[30%] text-[10px] text-center">
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/angular-icon-1.svg" alt="Logo de Angular">
					<caption>Angular</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/typescript.svg" alt="Logo de Typescript">
					<caption>Typescript</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/angular-universal.svg" alt="Logo de Angular Universal">
					<caption>Angular Universal</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/ionic.svg" alt="Logo de Ionic Framework">
					<caption>Ionic</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/capacitor-js.svg" alt="Logo de Capacitor">
					<caption>Capacitor</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/laravel-2.svg" alt="Logo de Laravel">
					<caption>Laravel</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/firebase-1.svg" alt="Logo de Firebase">
					<caption>Firebase</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/heroku-4.svg" alt="Logo de Heroku">
					<caption>Heroku</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/odoo.svg" alt="Logo de Odoo">
					<caption>Odoo</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/python-5.svg" alt="Logo de Python">
					<caption>Python</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/google-1-1.svg" alt="Logo de Google">
					<caption>Google Workspace</caption>
				</figure>
				<figure class="w-1/4 md:w-1/3 px-2">
					<img src="./logos/autodesk-forge.svg" alt="Logo de Autodesk Platform Services">
					<caption>Autodesk Forge</caption>
				</figure>
			</span>
			
		</div>

	</article>

</section>

<style>
	figure img {
		border-radius: 10px;
	}
</style>
